.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.listStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}
.addUserBtn {
  background-color: rgb(23, 199, 248);
  color: white;
  border: none;
  padding: 10px;
}
.deleteUserBtn {
  background-color: rgb(248, 23, 23);
  color: white;
  border: none;
  padding: 10px;
}
